.home-view-container {
  min-height: 80%;
  display: flex;
  .home-view {
    display: flex;
    justify-content: space-around;
    .home-section {
      flex: 1;
    }
    .button-container {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: 600px) {
  .home-view-container {
    .home-view {
      flex-direction: column;
      .button-container {
        margin-top: 30px;
    }
    }
  }
}
