.input {
  background-color: #ffffffd8;
  border-width: 0;
  border-radius: 8px;
  border-bottom: 3px solid var(--yello);
  width: 100%;
  line-height: 1.5em;
  padding: 10px 5px;
  font-family: var(--primary-font);
  color: #0e0d0d;
  margin: 20px 5px;
  transition: 0.3s;
  &:focus-visible {
    outline: none;
    border-color: #fff;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

::placeholder {
  color: #0e0d0d;
  opacity: 0.5;
}
:-ms-input-placeholder {
  color: #fff;
}
::-ms-input-placeholder {
  color: #fff;
}
