.App {
  height: calc(100vh - 80px);
  margin-top: 80px;
  .route-view-container {
    color: #fff;
    font-family: var(--primary-font);
    .router-view {
      width: 80%;
      padding: 20px 0;
      margin: auto;
    }
  }
}

.route-view-container {
  min-height: 80%;
  display: flex;
  .router-view {
    display: flex;
    justify-content: space-around;
    .section-container {
      flex: 1;
    }
    .button-container {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: 600px) {
  .route-view-container {
    .router-view {
      flex-direction: column;
      .button-container {
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    }
    }
  }
}
